@font-face
	font-family: 'Gen Jyuu Gothic'
	font-style: normal
	font-weight: 100
	src: url('~/assets/font/genjyuugothic-extralight.woff2') format("woff2"), url('~/assets/font/genjyuugothic-extralight.woff') format("woff")
	font-display: fallback

@font-face
	font-family: 'Gen Jyuu Gothic'
	font-style: normal
	font-weight: 300
	src: url('~/assets/font/genjyuugothic-light.woff2') format("woff2"), url('~/assets/font/genjyuugothic-light.woff') format("woff")
	font-display: fallback

@font-face
	font-family: 'Gen Jyuu Gothic'
	font-style: normal
	font-weight: 400
	src: url('~/assets/font/genjyuugothic-normal.woff2') format("woff2"), url('~/assets/font/genjyuugothic-normal.woff') format("woff")
	font-display: fallback

@font-face
	font-family: 'Gen Jyuu Gothic'
	font-style: normal
	font-weight: 500
	src: url('~/assets/font/genjyuugothic-medium.woff2') format("woff2"), url('~/assets/font/genjyuugothic-medium.woff') format("woff")
	font-display: fallback

@font-face
	font-family: 'Gen Jyuu Gothic'
	font-style: normal
	font-weight: 700
	src: url('~/assets/font/genjyuugothic-bold.woff2') format("woff2"), url('~/assets/font/genjyuugothic-bold.woff') format("woff")
	font-display: fallback

@font-face
	font-family: 'Gen Jyuu Gothic'
	font-style: normal
	font-weight: 900
	src: url('~/assets/font/genjyuugothic-heavy.woff2') format("woff2"), url('~/assets/font/genjyuugothic-heavy.woff') format("woff")
	font-display: fallback

*,*::before,*::after 
	box-sizing: border-box

body, html
	font-family: $font-family-default
	font-weight: $font-weight-normal
	font-size: 16px
	// color: $color-primary
	line-height: 1.7
	position: relative
	+sm 
		// font-size: 14px
	::selection 
		// background-color: $color-selection

.h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6
	// font-weight: $font-weight-bold
	// color: $color-primary-title
.h1, h1, .h2, h2, .h3, h3
	// margin-top: 1.75rem
.h4, h4, .h5, h5, .h6, h6
	// margin-top: 1.25rem

// .h1, h1
// 	font-size: $font-size-base * 3.5 
// .h2, h2
// 	font-size: $font-size-base * 3 
// 	+lg 
// 		font-size: $font-size-base * 2.5 
// 	+sm 
// 		font-size: $font-size-base * 2.0
// .h3, h3
// 	font-size: $font-size-base * 2
// .h4, h4
// 	font-size: $font-size-base * 1.75
// 	+lg 
// 		font-size: $font-size-base * 1.5 
// 	+sm 
// 		font-size: $font-size-base * 1.25
// .h5, h5
// 	font-size: $font-size-base * 1.5
// 	+lg 
// 		font-size: $font-size-base * 1.25 
// 	+sm 
// 		font-size: $font-size-base * 1.25
// .h6, h6
// 	font-size: $font-size-base * 1.25
// p 
// 	font-size: $font-size-base
// 	font-weight: $font-weight-normal
// 	color: $color-primary
// 	margin-top: .75rem
// strong 
// 	font-weight: $font-weight-normal
// 	color: $color-primary
// a
// 	font-size: $font-size-base
// 	font-weight: $font-weight-normal
// 	color: $color-primary
// 	text-decoration: none
// 	cursor: pointer
// span 
// 	color: $color-primary

a 
	text-decoration: none

ul, ol 
	padding-left: 0
ul 
	list-style: disc
ol 
	list-style: decimal
li 
	color: $color-primary

table
	border-collapse: collapse
	border-spacing: 0

img
	max-width: 100%
	height: auto

// hr 
// 	margin-top: 3rem
// 	margin-bottom: 3rem
// 	border: dashed 1px lighten($color-primary, 10%)

button 
	background: none 
	border: none

.container 
	max-width: 980px
	margin: 0 auto
	width: 100%
	+xl 
		padding: 0 20px
	+md
		padding: 0 15px
