@font-face
	font-family: 'Gen Jyuu Gothic'
	font-style: normal
	font-weight: 100
	src: url('~/assets/font/genjyuugothic-extralight.woff2') format("woff2"), url('~/assets/font/genjyuugothic-extralight.woff') format("woff")
	font-display: fallback

@font-face
	font-family: 'Gen Jyuu Gothic'
	font-style: normal
	font-weight: 300
	src: url('~/assets/font/genjyuugothic-light.woff2') format("woff2"), url('~/assets/font/genjyuugothic-light.woff') format("woff")
	font-display: fallback

@font-face
	font-family: 'Gen Jyuu Gothic'
	font-style: normal
	font-weight: 400
	src: url('~/assets/font/genjyuugothic-normal.woff2') format("woff2"), url('~/assets/font/genjyuugothic-normal.woff') format("woff")
	font-display: fallback

@font-face
	font-family: 'Gen Jyuu Gothic'
	font-style: normal
	font-weight: 500
	src: url('~/assets/font/genjyuugothic-medium.woff2') format("woff2"), url('~/assets/font/genjyuugothic-medium.woff') format("woff")
	font-display: fallback

@font-face
	font-family: 'Gen Jyuu Gothic'
	font-style: normal
	font-weight: 700
	src: url('~/assets/font/genjyuugothic-bold.woff2') format("woff2"), url('~/assets/font/genjyuugothic-bold.woff') format("woff")
	font-display: fallback

@font-face
	font-family: 'Gen Jyuu Gothic'
	font-style: normal
	font-weight: 900
	src: url('~/assets/font/genjyuugothic-heavy.woff2') format("woff2"), url('~/assets/font/genjyuugothic-heavy.woff') format("woff")
	font-display: fallback

*,*::before,*::after 
	box-sizing: border-box

html
	scroll-behavior: smooth

body, html
	font-family: $font-family-default
	font-weight: $font-weight-normal
	font-size: 16px
	// color: $color-primary
	line-height: 1.7
	position: relative
	+sm 
		// font-size: 14px
	::selection 
		// background-color: $color-selection

.h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6
	// font-weight: $font-weight-bold
	// color: $color-primary-title
.h1, h1, .h2, h2, .h3, h3
	// margin-top: 1.75rem
.h4, h4, .h5, h5, .h6, h6
	// margin-top: 1.25rem


a 
	text-decoration: none

ul, ol 
	padding-left: 0
ul 
	list-style: disc
ol 
	list-style: decimal
li 
	color: $color-primary

table
	border-collapse: collapse
	border-spacing: 0

img
	max-width: 100%
	height: auto

button 
	background: none 
	border: none

.container 
	max-width: 980px
	margin: 0 auto
	width: 100%
	+xl 
		padding: 0 20px
	+md
		padding: 0 15px

.page
	background-color: $color-page-bg
	padding: 111px 0 0px
	min-height: calc(100vh - 180px)
	+md 
		padding: 97px 0 0px
		min-height: auto
	&__title
		text-align: center
		color: $color-white
		font-size: 1.5rem
		line-height: 1.25
	&__text 
		text-align: center
		color: $color-white
		font-size: .875rem
		margin-top: 24px
	&__kv
		width: 100%
		height: 0
		padding-bottom: 15.6%
		background-size: cover
		background-position: center
		position: relative
		+lg
			padding-bottom: 20.6%
		+md 
			padding-bottom: 25.6%
		+sm 
			padding-bottom: 41.6%
		+xs 

		&::before
			content: ''
			display: block
			width: 100%
			height: 100%
			position: absolute
			top: 0
			left: 0
			opacity: 0.75
			background-color: #000
			z-index: 1
		&__content 
			position: absolute
			left: 0
			right: 0
			top: 50%
			transform: translateY(-50%)
			margin: auto
			z-index: 2
			+md 
				padding: 0 24px

		&__title
			text-align: center
			color: $color-white
			font-size: 1.5rem
			line-height: 1.25
		&__text 
			text-align: center
			color: $color-white
			font-size: .875rem
			margin-top: 24px
			+md 
				margin-top: 16px
