.btn
	display: inline-block 
	padding: 12px 45px
	border: solid 2px $color-white
	border-radius: 100px
	font-size: 1.125rem
	color: $color-white
	cursor: pointer
	+sm 
		width: 100%
	&.formbtn
		border: solid 2px $color-orange
		background-color: $color-orange
	&:hover 
		opacity: .8

	