.btn
	display: inline-block 
	padding: 12px 45px
	border: solid 2px $color-white
	border-radius: 100px
	font-size: 1.125rem
	color: $color-white
	// transition: opacity .4s ease-in-out
	&:hover 
		opacity: .8

	