.case
  color: white
  &__section
    &:nth-child(even)
      background-color: $color-blue-dark2
      .case__main
        flex-direction: row-reverse
  &__container
    width: 71%
    margin: 0 auto
    +xl
      width: 90%
    +md 
      width: 100%
  &__main
    padding: 120px 2rem
    display: flex 
    flex-direction: row
    justify-content: space-between 
    align-items: center
    +xl 
      padding: 120px 0
    +lg 
      padding: 60px 0
    +md 
      padding: 32px 32px 60px
      flex-wrap: wrap
  &__textarea, &__pic
    width: calc(50% - 1rem)
    +md 
      width: 100%
  &__pic
    +md 
      margin-top: 2rem
    &__content
      width: 100%
      height: 0
      padding-bottom: 55.9%
      background-position: center
      background-size: cover
  &__textarea
    &__content
      width: 50%
      margin: 0 auto
      @media(max-width: 1920px)
        width: 70% 
      @media(max-width: 1400px)
        width: 88%
      +lg
        width: 100%
      +md 
        width: 300px 
      @media(max-width: 380px)
        width: 100%
    .page__title
      text-align: left
      +md
        text-align: center
  &__info
    margin-top: 1rem
    font-size: 1rem
    +md 
      text-align: center
      font-size: .875rem
    > span
      display: inline-block
      vertical-align: middle
    &__icon
      display: inline-block
      vertical-align: middle
      width: 20px
      margin-top: -1px
    &__city
      margin-left: .75rem
    &__place
      margin-left: 1rem
    &__line 
      width: 1px
      height: 18px
      background-color: white
      margin: 0 .75rem
  &__details
    margin-top: 2rem
    list-style: none
    display: flex 
    justify-content: space-between
    text-align: center
    &__pic
      width: 48px
      height: 48px
      margin: 0 auto
      display: flex 
      justify-content: center
      align-items: center
    &__lists
      text-align: center
      width: 85px
      @media(max-width: 340px)
        width: 32%
    &__content
      color: $color-white
      font-size: .875rem
      line-height: 1.6
      margin-top: .75rem


