.contact
	&__container 
		max-width: 66.66666%
		margin: 0 auto
		padding: 32px 0 55px
		+xl
			max-width: 90%
		+md 
			max-width: 100%
			padding: 32px 24px 55px
	&__form
		&__content
			width: 100%
			display: flex
			flex-wrap: wrap
			align-items: center
			+md 
				flex-direction: column
				align-items: stretch
		&__col
			flex: 1
			&:nth-child(1)
				margin-right: 2.2%
				+md 
					margin-right: 0
				