.contact
	&__container 
		max-width: 66.8%
		margin: 0 auto
	&__form
		margin-top: 32px
		&__content
			width: 100%
			display: flex
		&__col
			flex: 1
			border: solid 2px #000
			&:nth-child(1)
				margin-right: 2.2%
				