.service
	&__list 
		margin-top: 35px
		list-style: none
		display: flex 
		justify-content: space-between
		+lg 
			flex-wrap: wrap
			justify-content: center
			margin-top: 0
		+md 
			justify-content: flex-start
			margin-top: 0
	&__item
		margin-right: 2.7%
		width: calc(89.2% / 5) // 100 - (2.7*4)
		background-color: $color-gray
		padding: 18px 15px 22px
		border-radius: 8px
		box-shadow: 0px 4px 24px 0px rgba(255, 255, 255, 0.15)
		transition: all .4s ease-in-out
		position: relative
		+lg 
			width: 32%
			margin-right: 2%
			margin-top: 35px
		+md 
			width: calc(50% - 12px)
			margin-right: 0
			margin-top: 24px
			padding: 12px 16px
			display: flex
			align-items: center
		+sm 
			margin-top: 16px
		&:last-child
			margin-right: 0
		&:nth-child(3)
			+lg 
				margin-right: 0
		&:nth-child(odd)
			+md
				margin-right: 24px
		&:hover, &.active
			background-color: $color-white
			box-shadow: 0px 24px 36px 0px rgba(0, 0, 0, 0.50)
	&__itempic
		width: 91px
		height: 91px
		background-color: $color-white
		border: solid 2px $color-orange
		box-shadow: 0px 5px 25px 0px rgba(0,0,0, .25)
		border-radius: 100%
		margin: 0 auto
		position: relative
		display: flex 
		justify-content: center
		align-items: center
		+sm 
			width: 48px
			height: 48px
			border: solid 1px $color-orange
		img 
			width: 55px
			+sm 
				width: 30px
	&__itemtextarea
		margin-top: 20px
		+md
			width: auto
			flex: 1
			text-align: left
			margin-top: 3px
			padding-left: 12px
	&__itemtitle
		font-size: 1.25rem
		margin-top: -5px
		+xxl 
			font-size: 1.125rem
		+sm
			font-size: .875rem
			line-height: 1.2
	&__itemlink
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%

	&__info
		position: relative
		z-index: 5
		&__container
			max-width: 84%
			padding: 10px 0 45px 
			margin: 0 auto
			text-align: center
			color: $color-white
			+xl 
				max-width: 90%
			+md 
				max-width: 100%
				padding: 15px 24px 40px
			+sm 
				// padding: 20px 24px 50px
	&__epc
		width: 100%
		height: 0
		padding-bottom: 26.1%
		background-image: url('~/assets/img/service_epc_bg.jpg')
		background-size: cover 
		background-position: center
		position: relative
		+xl 
			height: auto
			padding-bottom: 0
		+md 
			background-image: url('~/assets/img/service_epc_bg_m.jpg')
		&::after 
			content: ''
			position: absolute
			z-index: 1
			top: 0
			left: 0
			width: 100%
			height: 100%
			background-color: rgba(0,0,0, .75)
		&--top 
			position: absolute
			top: -97px
			left: 0
			right: 0
			width: 100%
			height: 97px
			
		&__container
			position: relative
			z-index: 2
			max-width: 65.55%
			margin: 0 auto
			padding: 90px 0 125px
			+xl 
				max-width: 90%
				padding: 125px 0 
			+md 
				max-width: 100%
				padding: 70px 24px 130px
		&__info 
			width: 50%
			+md 
				width: 100%
		&__title 
			font-size: 2rem
			text-align: left
			+md 
				font-size: 1.5rem
				text-align: center
		&__text 
			font-size: .875rem
			color: $color-white-750
			margin-top: 30px
	&__apply
		&__container
			max-width: 1365px
			margin: 0 auto
			padding: 50px 0 130px 
			+xxl
				max-width: 1024px
			+xl
				max-width: 90%
			+md 
				max-width: 100%
				padding: 45px 0px 75px 
		&__title
			font-size: 2rem
			+md 
				font-size: 1.5rem
		&__content
			position: relative
				
		&__list
			position: relative
			z-index: 2
			list-style: none
			display: flex 
			flex-wrap: wrap
			justify-content: center
			+md 
				padding-top: 30px
		&__item
			width: 160px
			margin: 0 42px
			padding: 50px 0 0
			+xxl 
				width: 120px
				margin: 0 32px
			+lg 
				width: 14%
				margin: 0 3%
			+md 
				padding: 28px 0 0
			+sm 
				width: 20%
				margin: 20px
				padding: 0
			+xs 
				width: 80px
				@media (max-width:370px)
					width: 20%

			&:nth-child(3)
				.service__apply__icon--origin, .service__apply__icon--hover
					transform: translateY(-50%) translateX(6px)
					+md 
						transform: translateY(-50%) translateX(3px)
			&:nth-child(5)
				.service__apply__icon--origin, .service__apply__icon--hover
					transform: translateY(-50%) translateX(4px)
					+md 
						transform: translateY(-50%) translateX(2px)
			&:nth-child(8)
				.service__apply__icon--origin, .service__apply__icon--hover
					transform: translateY(-50%) translateX(5px)
					+md 
						transform: translateY(-50%) translateX(3px)
		&__body 
			width: 100%
			height: 0
			padding-bottom: 100%
			background-color: $color-white
			border-radius: 100%
			position: relative
			transition: all .4s ease-in-out
			&:hover
				background-color: $color-orange
				box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.5)
				.service__apply__num 
					background-color: $color-white
					color: $color-white
					text-shadow: 2px 0 0 $color-orange, -2px 0 0 $color-orange, 0 2px 0 $color-orange, 0 -2px 0 $color-orange 
				.service__apply__icon--origin
					opacity: 0
				.service__apply__icon--hover
					opacity: 1
		&__icon
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			&--origin,&--hover
				position: absolute
				top: 50%
				transform: translateY(-50%)
				left: 0
				right: 0
				margin: auto
				transition: opacity .4s ease-in-out
				max-width: 44%
				+md 
				+sm 
				+xs 
			&--hover
				opacity: 0
		&__num
			display: flex
			justify-content: center
			align-items: center
			font-size: 1.5rem 
			font-weight: 900
			width: 60px
			height: 60px
			background-color: $color-orange
			border-radius: 99em
			position: absolute
			left: -4px
			top: -12px
			color: $color-orange
			text-shadow: 2px 0 0 $color-white, -2px 0 0 $color-white, 0 2px 0 $color-white, 0 -2px 0 $color-white 
			transition: all .4s ease-in-out
			+xxl 
				width: 47px
				height: 47px
			+lg 
				width: 42px
				height: 42px
			+md 
				width: 36px
				height: 36px
				font-size: 1.25rem
			+sm 
				left: -8px
				top: -8px

		&__head
			text-align: center
			font-size: 1.25rem
			font-weight: 700
			color: $color-white
			margin-top: 16px
			position: relative
			+md 
				font-size: .875rem 
				margin-top: 8px
		
		&__extend
			position: absolute
			right: -42px
			top: -32px
			width: 96px
			height: 96px
			background-color: $color-blue-dark5
			border-radius: 100%
			+xxl
				width: 80px
				height: 80px
				right: -40px
				top: -36px
			+lg 
				width: 65px
				height: 65px
				right: -30px
				top: -30px
			+md 
				width: 52px
				height: 52px
				right: -20px
				top: -24px
		&__extendcontent
			position: absolute
			top: 50%
			transform: translateY(-50%)
			left: 0
			right: 0
			margin: auto
			text-align: center
			width: 100%
			height: 100%
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			
		&__extendicon
			width: 34%
			+xxl
				width: 28px
			+lg 
				width: 20px
				transform: translateY(6px)
		&__extendhead
			font-size: .875rem
			font-weight: 700
			color: $color-white
			position: relative
			+xxl
				margin-top: -5px
			+md 
				font-size: .75rem
				margin-top: -2px
	&__work 
		background-color: $color-blue-dark4
		&__container 
			max-width: 65.55%
			margin: 0 auto
			padding: 60px 0 105px
			+xl 
				max-width: 90%
			+md 
				max-width: 100%
				padding: 48px 0
		&__title 
			font-size: 2rem 
			+md 
				font-size: 1.5rem
		&__content
			display: flex 
			flex-wrap: wrap
			+md 
				flex-direction: column
		&__contentinfo
			flex: 1 
			margin-right: 8.8%
			+lg 
				margin-right: 5%
			+md 
				margin-right: 0
				padding: 0 24px
		&__contentpic
			flex: 1
			+md 
				margin-top: 24px
			img 
				width: 100%
				height: 230px
				object-fit: cover
				+md 
					height: 330px
				+sm 
					height: 270px
				+xs 
					height: 200px
		&__title
			text-align: left
			+md 
				text-align: center
		&__text
			margin-top: 35px
			color: $color-white-750
			+md 
				margin-top: 24px
		&__video
			width: 100%
		&__videoframe
			margin-top: 95px
			+md 
				margin-top: 24px
