.footer
	background-color: $color-blue-dark
	color: $color-white
	font-size: .875rem
	font-weight: 300
	&__container
		padding: 30px 15.59%
		+xl 
			padding: 30px 5%
		+md 
			padding: 32px 24px 45px
	&__main
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: flex-start
	&__menu 
		width: 32%
		display: flex
		flex-wrap: wrap
		+md 
			width: 100%
		&__link
			width: 33.33333%
			color: $color-white
			margin-bottom: 5px
			&:hover
				font-weight: 700
			+md 
				margin-bottom: 15px
			
	&__contact
		padding-right: 5%
		list-style: none
		+md 
			width: 100%
			padding-right: 0
			margin-top: 20px
		&__item 
			display: flex
			margin-top: 12px
			&:nth-child(1)
				margin-top: 0
		&__icon
			width: 24px
			height: 24px
			margin-right: 8px
			border: solid 1px $color-white
			border-radius: 99em
			display: flex
			justify-content: center
			align-items: center
			img 
				width: 13px
				margin: auto
		&__text 
			color: $color-white
	&__copyright
		transform: translateY(-12px)
		+md 
			transform: translateY(0px)
			margin-top: 40px
			text-align: center